# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/03-pure-react/pizza-menu//node_modules
/03-pure-react/pizza-menu//.pnp
/03-pure-react/pizza-menu/.pnp.js
/03-pure-react/pizza-menu/.parcel-cache
/03-pure-react/pizza-menu/parcel-cache
# testing
/03-pure-react/pizza-menu//coverage

# production
/03-pure-react/pizza-menu/build

# misc
/03-pure-react/pizza-menu/.DS_Store
/03-pure-react/pizza-menu/.env.local
/03-pure-react/pizza-menu/.env.development.local
/03-pure-react/pizza-menu/.env.test.local
/03-pure-react/pizza-menu/.env.production.local

/03-pure-react/pizza-menu/npm-debug.log*
/03-pure-react/pizza-menu/yarn-debug.log*
/03-pure-react/pizza-menu/yarn-error.log*
