html {
  font-size: 62.5%;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* align-content: center; */
}

.App-logo {
  display: inline;
  height: 100%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: none;
  /* min-height: 20vh; */
  display: flex;
  /* flex-direction: row; */
  /* align-self: center; */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-size: 3rem;
  color: white;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0;
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.question_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.question {
  display: flex;
  border-style: solid;
  border-width: 4px;
  border-color: hsl(220, 22%, 63%);
  margin-bottom: 4rem;
  border-radius: 3000px;
}

.question h2 {
  font-size: 4rem;
  padding: 2rem;
  margin: 0 2rem;
}

.answer_button {
  background-color: #49515f;
  color: white;
  padding: 1rem 3rem;
  margin: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.8rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.answer_button-selected {
  background-color: #61dafb;
  color: #282c34;
}
.answer_button-not_selected {
  background-color: #414245;
  color: white;
  opacity: 0.6;
}

.answers {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.answer_button:hover {
  background-color: #61dafb;
  color: #282c34;
}

.nav_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex-direction: row; */
  align-items: space-between;
}

.nav_button {
  background-color: #282c34;
  color: white;
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.6rem;
  max-height: 6rem;
}

.nav_button--hidden {
  visibility: hidden;
}

.nav_button:hover {
  background-color: #61dafb;
  color: #282c34;
}
